* {
margin: 0;
padding: 0;
box-sizing:border-box;}

html, body{
    height: 100%;}

body {
    background: papayawhip;
    min-height: 100vh;}


main, header, footer {
    padding: 20px;
    color: #141414}

header, footer{
    line-height: 60px;}
.column{padding: 20px;
margin: 0;}

.main{
    display: flex;
    flex-direction: column;}
    
img {width: 25%;}

.flex-container{
    display: flex;
    flex-direction: column;}

.header{
    background-color: antiquewhite;}
    

.column{
    width: 50%;
    height: 50%;}

@media (max-width: 450px){
    .flex-container{
        background: orange;
    }
    main{flex-direction: column;}
    
}