::-webkit-scrollbar{
    width: 2px;
    height:10px;
    background-color: black;
}

::-webkit-scrollbar-thumb{
    background-color: grey;
    border-radius: 1px;
}
body{
    margin: 10px;
    padding: 10px;
    overflow: scroll;
    height: 100%;
    background-color:black;
    display: block;
}


#intro_usd{
   position: absolute;
   top:10%;
   left: 30%;
   width: 200px;
   height: fit-content;
   background-color: #f4f1b7;
   padding: 20px;
   
   z-index: 999;
   color: rgb(45, 45, 45);
   box-shadow: 10px 10px 50px rgb(75, 75, 75);
   font-family: monospace;
}

#intro_lira{
   position: absolute;
   top:20%;
   left: 60%;
   width: 200px;
   height: fit-content;
   background-color: #f4f1b7;
   padding: 20px;
   
   z-index: 999;
   color: rgb(45, 45, 45);
   box-shadow: 10px 10px 50px rgb(75, 75, 75);
   font-family: monospace;
}

#intro_mark{
   position: absolute;
   top:40%;
   left: 40%;
   width: 200px;
   height: fit-content;
   background-color: #f4f1b7;
   padding: 20px;
   
   z-index: 999;
   color: rgb(45, 45, 45);
   box-shadow: 10px 10px 50px rgb(75, 75, 75);
   font-family: monospace;
}

#intro_pound{
   position: absolute;
   top:60%;
   left: 10%;
   width: 200px;
   height: fit-content;
   background-color: #f4f1b7;
   padding: 20px;
   
   z-index: 999;
   color: rgb(45, 45, 45);
   box-shadow: 10px 10px 50px rgb(75, 75, 75);
   font-family: monospace;
}

#intro_rand{
   position: absolute;
   top:60%;
   left: 80%;
   width: 200px;
   height: fit-content;
   background-color: #f4f1b7;
   padding: 20px;
   
   z-index: 999;
   color: rgb(45, 45, 45);
   box-shadow: 10px 10px 50px rgb(75, 75, 75);
   font-family: monospace;
}

#intro_ruble{
   position: absolute;
   top:50%;
   left: 60%;
   width: 200px;
   height: fit-content;
   background-color: #f4f1b7;
   padding: 20px;
   
   z-index: 999;
   color: rgb(45, 45, 45);
   box-shadow: 10px 10px 50px rgb(75, 75, 75);
   font-family: monospace;
}

#intro_won{
   position: absolute;
   top:60%;
   left: 45%;
   width: 200px;
   height: fit-content;
   background-color: #f4f1b7;
   padding: 20px;
   
   z-index: 999;
   color: rgb(45, 45, 45);
   box-shadow: 10px 10px 50px rgb(75, 75, 75);
   font-family: monospace;
}

#intro_yen{
   position: absolute;
   top:20%;
   left: 5%;
   width: 200px;
   height: fit-content;
   background-color: #f4f1b7;
   padding: 20px;
   
   z-index: 999;
   color: rgb(45, 45, 45);
   box-shadow: 10px 10px 50px rgb(75, 75, 75);
   font-family: monospace;
}

#intro_yuan{
   position: absolute;
   top:70%;
   left: 25%;
   width: 200px;
   height: fit-content;
   background-color: #f4f1b7;
   padding: 20px;
   
   z-index: 999;
   color: rgb(45, 45, 45);
   box-shadow: 10px 10px 50px rgb(75, 75, 75);
   font-family: monospace;
}

#intro_shilingi{
  position: absolute;
  top:25%;
  left: 85%;
  width: 200px;
  height: fit-content;
  background-color: #f4f1b7;
  padding: 20px;
  
  z-index: 999;
  color: rgb(45, 45, 45);
  box-shadow: 10px 10px 50px rgb(75, 75, 75);
  font-family: monospace;
}



/*a*/
a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: monospace;
}

/*a*/




/*navigation*/
   .navigation{
       position: fixed;
       
       z-index:999;
       display: flex;
       width: 100%;
       height: fit-content;
    }

    .left_navigation{
        margin-left: 0px;
        margin-right: auto;
        
    }

    .right_navigation{
       display: flex;
       margin-left: auto;
       margin-right: 50px;
    }

   /*ins*/
    #INS{
       margin-left: 20px;
    }
   /*in*/
/*navigation*/


/*contents*/
   .contents{
       display: block;
       width: 100%;
       height: auto;
    }




   #Paper_Money{
       width: 100%;
       height: 100%;
       margin-top: 100px;
       display:flex;
       flex-direction: column;
    }

    .with_text{
      display: block;
      flex-direction: column;
      margin-left: 5px;
      width: 15%;
      background-color: black;
      color: white;
      font-family: monospace;
      font-size: 20px;
   }

   .intro{
      color: rgb(65, 65, 65);
      font-family: monospace;
      font-size: 30px;
   }


   /*USD*/
      #USD{
          width: auto;
          display: flex;
          flex-direction:row;
          justify-content: space-between;
          align-items: center;
          align-items: flex-start;
          margin-top: 20px;
          margin-bottom: 20px;
        }
            
           /*USD100*/
            .USD100{
                transition: transform 0.3s ease-out;
                position: relative;
            }

            .USD100:hover{
                transform: scale(120%);;
            }

            .text_USD100{
                z-index: 999;
                width: 500px;
                background-color: gray;
                display: none;
                position: absolute;
                text-align: justify;
                margin: 20px;
                padding: 20px;
                border-radius: 10px;
                opacity: 80%;
                font-family: monospace;
                font-size: 20px;
                color: rgb(197, 197, 197);
            }
            /*USD100*/
             
            /*USD50*/
            .USD50{
                transition: transform 0.3s ease-out;
                width: 200%;
                position: relative;
            }

            .USD50:hover{
                transform: scale(120%);
            }

            .text_USD50{
                z-index: 999;
                width: 500px;
                background-color: gray;
                display: none;
                position: absolute;
                text-align: justify;
                margin: 20px;
                padding: 20px;
                border-radius: 10px;
                opacity: 80%;
                font-family: monospace;
                font-size: 20px;
                color: rgb(197, 197, 197);
            }
            /*USD50*/


            /*USD20*/
            .USD20{
                transition: transform 0.3s ease-out;
                position: relative;
            }

            .USD20:hover{
                transform: scale(120%);
            }

            .text_USD20{
                z-index: 999;
                width: 500px;
                background-color: gray;
                display: none;
                position: absolute;
                text-align: justify;
                margin: 20px;
                padding: 20px;
                border-radius: 10px;
                opacity: 80%;
                font-family: monospace;
                font-size: 20px;
                color: rgb(197, 197, 197);
            }
            /*USD20*/


            /*USD10*/
            .USD10{
                transition: transform 0.3s ease-out;
                position: relative;
            }

            .USD10:hover{
                transform: scale(120%);
            }

            .text_USD10{
                z-index: 999;
                width: 500px;
                background-color: gray;
                display: none;
                position: absolute;
                text-align: justify;
                margin: 20px;
                padding: 20px;
                border-radius: 10px;
                opacity: 80%;
                font-family: monospace;
                font-size: 20px;
                color: rgb(197, 197, 197);
            }
            /*USD10*/


            /*USD5*/
            .USD5{
                transition: transform 0.3s ease-out;
                position: relative;
            }

            .USD5:hover{
                transform: scale(120%);
            }

            .text_USD5{
                z-index: 999;
                width: 500px;
                background-color: gray;
                display: none;
                position: absolute;
                text-align: justify;
                margin: 20px;
                padding: 20px;
                border-radius: 10px;
                opacity: 80%;
                font-family: monospace;
                font-size: 20px;
                color: rgb(197, 197, 197);
            }
    /*USD5*/

  /*divider*/
  .divider{
      width: 100%;
      text-align: center;
      font-size: 50px;
      font-family: monospace;
      position: center;
      color: rgb(41, 41, 41);
    }
/*divider*/


    /*LIRA*/
     #LIRA{
         margin-top: 20px;
         margin-bottom: 20px;
         width: auto;
         display: flex;
         flex-direction:row;
         justify-content: space-between;
         align-items: center;
         align-items: flex-start;
     }
   
       /*LIRA1*/
            .lira1{
                transition: transform 0.3s ease-out;
              position: relative;
            }

         .lira1:hover{
             transform: scale(120%);
            }

         .text_lira1{
             z-index: 999;
             width: 500px;
             background-color: gray;
             display: none;
             position: absolute;
             text-align: justify;
             margin: 20px;
             padding: 20px;
             border-radius: 10px;
             opacity: 80%;
             font-family: monospace;
             font-size: 20px;
             color: rgb(197, 197, 197);
            }
        /*LIRA1*/

        /*LIRA100*/
          .lira100{
             transition: transform 0.3s ease-out;
              position: relative;
            }

          .lira100:hover{
             transform: scale(120%);
            }

         .text_lira100{
             z-index: 999;
             width: 500px;
             background-color: gray;
             display: none;
             position: absolute;
             text-align: justify;
             margin: 20px;
             padding: 20px;
             border-radius: 10px;
             opacity: 80%;
             font-family: monospace;
             font-size: 20px;
             color: rgb(197, 197, 197);
           }
       /*LIRA100*/


        /*LIRA10*/
          .lira10{
             transition: transform 0.3s ease-out;
              position: relative;
            }

          .lira10:hover{
             transform: scale(120%);
            }

         .text_lira10{
             z-index: 999;
             width: 500px;
             background-color: gray;
             display: none;
             position: absolute;
             text-align: justify;
             margin: 20px;
             padding: 20px;
             border-radius: 10px;
             opacity: 80%;
             font-family: monospace;
             font-size: 20px;
             color: rgb(197, 197, 197);
            }
       /*LIRA10*/

       /*LIRA10*/
         .lira200{
             transition: transform 0.3s ease-out;
              width: 200%;
              position: relative;
           }

          .lira200:hover{
             transform: scale(120%);
            }

         .text_lira200{
             z-index: 999;
             width: 500px;
             background-color: gray;
             display: none;
             position: absolute;
             text-align: justify;
             margin: 20px;
             padding: 20px;
             border-radius: 10px;
             opacity: 80%;
             font-family: monospace;
             font-size: 20px;
             color: rgb(197, 197, 197);
            }
       /*LIRA10*/

       /*LIRA200*/
          .lira200{
             transition: transform 0.3s ease-out;
             position: relative;
            }

          .lira200:hover{
             transform: scale(120%);
            }

          .text_lira200{
             z-index: 999;
             width: 500px;
             background-color: gray;
             display: none;
             position: absolute;
             text-align: justify;
             margin: 20px;
             padding: 20px;
             border-radius: 10px;
             opacity: 80%;
             font-family: monospace;
             font-size: 20px;
             color: rgb(197, 197, 197);
           }
     /*LIRA200*/

     /*LIRA20*/
          .lira20{
             transition: transform 0.3s ease-out;
             position: relative;
            }

          .lira20:hover{
             transform: scale(120%);
            }

          .text_lira20{
             z-index: 999;
             width: 500px;
             background-color: gray;
             display: none;
             position: absolute;
             text-align: justify;
             margin: 20px;
             padding: 20px;
             border-radius: 10px;
             opacity: 80%;
             font-family: monospace;
             font-size: 20px;
             color: rgb(197, 197, 197);
           }
     /*LIRA20*/

      /*LIRA5*/
          .lira5{
             transition: transform 0.3s ease-out;
             position: relative;
            }

          .lira5:hover{
             transform: scale(120%);
            }

          .text_lira5{
             z-index: 999;
             width: 500px;
             background-color: gray;
             display: none;
             position: absolute;
             text-align: justify;
             margin: 20px;
             padding: 20px;
             border-radius: 10px;
             opacity: 80%;
             font-family: monospace;
             font-size: 20px;
             color: rgb(197, 197, 197);
           }
       /*LIRA5*/

        /*LIRA50*/
          .lira50{
             transition: transform 0.3s ease-out;
             position: relative;
            }

          .lira50:hover{
             transform: scale(120%);
            }

          .text_lira50{
             z-index: 999;
             width: 500px;
             background-color: gray;
             display: none;
             position: absolute;
             text-align: justify;
             margin: 20px;
             padding: 20px;
             border-radius: 10px;
             opacity: 80%;
             font-family: monospace;
             font-size: 20px;
             color: rgb(197, 197, 197);
           }
       /*LIRA50*/
    /*LIRA*/


    /*MARK*/
      #MARK{
         margin-top: 20px;
         margin-bottom: 20px;
         width: auto;
         display: flex;
         flex-direction:row;
         justify-content: space-between;
         align-items: center;
         align-items: flex-start;
       }


        /*mark10*/
          .mark10{
             transition: transform 0.3s ease-out;
             position: relative;
            }

          .mark10:hover{
             transform: scale(120%);
            }

          .text_mark10{
             z-index: 999;
             width: 500px;
             background-color: gray;
             display: none;
             position: absolute;
             text-align: justify;
             margin: 20px;
             padding: 20px;
             border-radius: 10px;
             opacity: 80%;
             font-family: monospace;
             font-size: 20px;
             color: rgb(197, 197, 197);
           }
       /*mark10*/


       /*mark100*/
          .mark100{
             width: 200%;
             transition: transform 0.3s ease-out;
             position: relative;
            }

          .mark100:hover{
             transform: scale(120%);
            }

          .text_mark100{
             z-index: 999;
             width: 500px;
             background-color: gray;
             display: none;
             position: absolute;
             text-align: justify;
             margin: 20px;
             padding: 20px;
             border-radius: 10px;
             opacity: 80%;
             font-family: monospace;
             font-size: 20px;
             color: rgb(197, 197, 197);
           }
       /*mark100*/


        /*mark20*/
          .mark20{
             transition: transform 0.3s ease-out;
             position: relative;
            }

          .mark20:hover{
             transform: scale(120%);
            }

          .text_mark20{
             z-index: 999;
             width: 500px;
             background-color: gray;
             display: none;
             position: absolute;
             text-align: justify;
             margin: 20px;
             padding: 20px;
             border-radius: 10px;
             opacity: 80%;
             font-family: monospace;
             font-size: 20px;
             color: rgb(197, 197, 197);
           }
       /*mark20*/


       /*mark200*/
          .mark200{
             transition: transform 0.3s ease-out;
             position: relative;
            }

          .mark200:hover{
             transform: scale(120%);
            }

          .text_mark200{
             z-index: 999;
             width: 500px;
             background-color: gray;
             display: none;
             position: absolute;
             text-align: justify;
             margin: 20px;
             padding: 20px;
             border-radius: 10px;
             opacity: 80%;
             font-family: monospace;
             font-size: 20px;
             color: rgb(197, 197, 197);
           }
       /*mark200*/


       /*mark5*/
          .mark5{
             transition: transform 0.3s ease-out;
             position: relative;
            }

          .mark5:hover{
             transform: scale(120%);
            }

          .text_mark5{
             z-index: 999;
             width: 500px;
             background-color: gray;
             display: none;
             position: absolute;
             text-align: justify;
             margin: 20px;
             padding: 20px;
             border-radius: 10px;
             opacity: 80%;
             font-family: monospace;
             font-size: 20px;
             color: rgb(197, 197, 197);
           }
       /*mark5*/


       /*mark50*/
          .mark50{
             transition: transform 0.3s ease-out;
             position: relative;
            }

          .mark50:hover{
             transform: scale(120%);
            }

          .text_mark50{
             z-index: 999;
             width: 500px;
             background-color: gray;
             display: none;
             position: absolute;
             text-align: justify;
             margin: 20px;
             padding: 20px;
             border-radius: 10px;
             opacity: 80%;
             font-family: monospace;
             font-size: 20px;
             color: rgb(197, 197, 197);
           }
       /*mark50*/


        /*mark500*/
          .mark500{
             transition: transform 0.3s ease-out;
             position: relative;
            }

          .mark500:hover{
             transform: scale(120%);
            }

          .text_mark500{
             z-index: 999;
             width: 500px;
             background-color: gray;
             display: none;
             position: absolute;
             text-align: justify;
             margin: 20px;
             padding: 20px;
             border-radius: 10px;
             opacity: 80%;
             font-family: monospace;
             font-size: 20px;
             color: rgb(197, 197, 197);
           }
       /*mark500*/



    /*POUND*/
      #POUND{
         margin-top: 20px;
         margin-bottom: 20px;
         width: auto;
         display: flex;
         flex-direction:row;
         justify-content: space-between;
         align-items: center;
         align-items: flex-start;
       }


        /*pound1*/
          .pound1{
             transition: transform 0.3s ease-out;
             position: relative;
            }

          .pound1:hover{
             transform: scale(120%);
            }

          .text_pound1{
             z-index: 999;
             width: 500px;
             background-color: gray;
             display: none;
             position: absolute;
             text-align: justify;
             margin: 20px;
             padding: 20px;
             border-radius: 10px;
             opacity: 80%;
             font-family: monospace;
             font-size: 20px;
             color: rgb(197, 197, 197);
           }
       /*pound1*/


       /*pound20*/
          .pound20{
             transition: transform 0.3s ease-out;
             position: relative;
            }

          .pound20:hover{
             transform: scale(120%);
            }

          .text_pound20{
             z-index: 999;
             width: 500px;
             background-color: gray;
             display: none;
             position: absolute;
             text-align: justify;
             margin: 20px;
             padding: 20px;
             border-radius: 10px;
             opacity: 80%;
             font-family: monospace;
             font-size: 20px;
             color: rgb(197, 197, 197);
           }
       /*pound20*/


       /*pound50*/
          .pound50{
             width: 200%;
             transition: transform 0.3s ease-out;
             position: relative;
            }

          .pound50:hover{
             transform: scale(120%);
            }

          .text_pound50{
             z-index: 999;
             width: 500px;
             background-color: gray;
             display: none;
             position: absolute;
             text-align: justify;
             margin: 20px;
             padding: 20px;
             border-radius: 10px;
             opacity: 80%;
             font-family: monospace;
             font-size: 20px;
             color: rgb(197, 197, 197);
           }
       /*pound50*/


       /*pound5*/
          .pound5{
             transition: transform 0.3s ease-out;
             position: relative;
            }

          .pound5:hover{
             transform: scale(120%);
            }

          .text_pound5{
             z-index: 999;
             width: 500px;
             background-color: gray;
             display: none;
             position: absolute;
             text-align: justify;
             margin: 20px;
             padding: 20px;
             border-radius: 10px;
             opacity: 80%;
             font-family: monospace;
             font-size: 20px;
             color: rgb(197, 197, 197);
           }
       /*pound5*/

    /*RAND*/
     #RAND{
         margin-top: 20px;
         margin-bottom: 20px;
         width: auto;
         display: flex;
         flex-direction:row;
         justify-content: space-between;
         align-items: center;
         align-items: flex-start;
        } 


        /*rand10*/
          .rand10{
             width: 200%;
             transition: transform 0.3s ease-out;
             position: relative;
            }

          .rand10:hover{
             transform: scale(120%);
            }

          .text_rand10{
             z-index: 999;
             width: 500px;
             background-color: gray;
             display: none;
             position: absolute;
             text-align: justify;
             margin: 20px;
             padding: 20px;
             border-radius: 10px;
             opacity: 80%;
             font-family: monospace;
             font-size: 20px;
             color: rgb(197, 197, 197);
           }
       /*rand10*/


       /*rand100*/
          .rand100{
             transition: transform 0.3s ease-out;
             position: relative;
            }

          .rand100:hover{
             transform: scale(120%);
            }

          .text_rand100{
             z-index: 999;
             width: 500px;
             background-color: gray;
             display: none;
             position: absolute;
             text-align: justify;
             margin: 20px;
             padding: 20px;
             border-radius: 10px;
             opacity: 80%;
             font-family: monospace;
             font-size: 20px;
             color: rgb(197, 197, 197);
           }
       /*rand100*/


       /*rand20*/
          .rand20{
             transition: transform 0.3s ease-out;
             position: relative;
            }

          .rand20:hover{
             transform: scale(120%);
            }

          .text_rand20{
             z-index: 999;
             width: 500px;
             background-color: gray;
             display: none;
             position: absolute;
             text-align: justify;
             margin: 20px;
             padding: 20px;
             border-radius: 10px;
             opacity: 80%;
             font-family: monospace;
             font-size: 20px;
             color: rgb(197, 197, 197);
           }
       /*rand20*/


       /*rand200*/
          .rand200{
             transition: transform 0.3s ease-out;
             position: relative;
            }

          .rand200:hover{
             transform: scale(120%);
            }

          .text_rand200{
             z-index: 999;
             width: 500px;
             background-color: gray;
             display: none;
             position: absolute;
             text-align: justify;
             margin: 20px;
             padding: 20px;
             border-radius: 10px;
             opacity: 80%;
             font-family: monospace;
             font-size: 20px;
             color: rgb(197, 197, 197);
           }
       /*rand200*/


       /*rand50*/
          .rand50{
             transition: transform 0.3s ease-out;
             position: relative;
            }

          .rand50:hover{
             transform: scale(120%);
            }

          .text_rand50{
             z-index: 999;
             width: 500px;
             background-color: gray;
             display: none;
             position: absolute;
             text-align: justify;
             margin: 20px;
             padding: 20px;
             border-radius: 10px;
             opacity: 80%;
             font-family: monospace;
             font-size: 20px;
             color: rgb(197, 197, 197);
           }
       /*rand50*/

   /*RUBLE*/
     #RUBLE{
        margin-top: 20px;
        margin-bottom: 20px;
        width: auto;
        display: flex;
        flex-direction:row;
        justify-content: space-between;
        align-items: center;
        align-items: flex-start;
       }    

       /*ruble100*/
          .ruble100{
             transition: transform 0.3s ease-out;
             position: relative;
            }

          .ruble100:hover{
             transform: scale(120%);
            }

          .text_ruble100{
             z-index: 999;
             width: 500px;
             background-color: gray;
             display: none;
             position: absolute;
             text-align: justify;
             margin: 20px;
             padding: 20px;
             border-radius: 10px;
             opacity: 80%;
             font-family: monospace;
             font-size: 20px;
             color: rgb(197, 197, 197);
           }
       /*ruble100*/


       /*ruble500*/
          .ruble500{
             width: 200%;
             transition: transform 0.3s ease-out;
             position: relative;
            }

          .ruble500:hover{
             transform: scale(120%);
            }

          .text_ruble500{
             z-index: 999;
             width: 500px;
             background-color: gray;
             display: none;
             position: absolute;
             text-align: justify;
             margin: 20px;
             padding: 20px;
             border-radius: 10px;
             opacity: 80%;
             font-family: monospace;
             font-size: 20px;
             color: rgb(197, 197, 197);
           }
       /*ruble500*/


       /*ruble5000*/
          .ruble5000{
             transition: transform 0.3s ease-out;
             position: relative;
            }

          .ruble5000:hover{
             transform: scale(120%);
            }

          .text_ruble5000{
             z-index: 999;
             width: 500px;
             background-color: gray;
             display: none;
             position: absolute;
             text-align: justify;
             margin: 20px;
             padding: 20px;
             border-radius: 10px;
             opacity: 80%;
             font-family: monospace;
             font-size: 20px;
             color: rgb(197, 197, 197);
           }
       /*ruble5000*/
   /*RUBLE*/

   /*WON*/
   #WON{
      margin-top: 20px;
      margin-bottom: 20px;
      width: auto;
      display: flex;
      flex-direction:row;
      justify-content: space-between;
      align-items: center;
      align-items: flex-start;
     }    
    
       /*won100*/
       .won100{
         transition: transform 0.3s ease-out;
         position: relative;
        }

      .won100:hover{
         transform: scale(120%);
        }

      .text_won100{
         z-index: 999;
         width: 500px;
         background-color: gray;
         display: none;
         position: absolute;
         text-align: justify;
         margin: 20px;
         padding: 20px;
         border-radius: 10px;
         opacity: 80%;
         font-family: monospace;
         font-size: 20px;
         color: rgb(197, 197, 197);
       }
     /*won100*/
 

     /*won500*/
       .won500{
         transition: transform 0.3s ease-out;
         position: relative;
        }

      .won500:hover{
         transform: scale(120%);
        }

      .text_won500{
         z-index: 999;
         width: 500px;
         background-color: gray;
         display: none;
         position: absolute;
         text-align: justify;
         margin: 20px;
         padding: 20px;
         border-radius: 10px;
         opacity: 80%;
         font-family: monospace;
         font-size: 20px;
         color: rgb(197, 197, 197);
       }
     /*won500*/


     /*won1000*/
       .won1000{
         transition: transform 0.3s ease-out;
         position: relative;
        }

      .won1000:hover{
         transform: scale(120%);
        }

      .text_won1000{
         z-index: 999;
         width: 500px;
         background-color: gray;
         display: none;
         position: absolute;
         text-align: justify;
         margin: 20px;
         padding: 20px;
         border-radius: 10px;
         opacity: 80%;
         font-family: monospace;
         font-size: 20px;
         color: rgb(197, 197, 197);
       }
     /*won1000*/

     
     /*won10000*/
       .won10000{
         width: 200%;
         transition: transform 0.3s ease-out;
         position: relative;
        }

      .won10000:hover{
         transform: scale(120%);
        }

      .text_won10000{
         z-index: 999;
         width: 500px;
         background-color: gray;
         display: none;
         position: absolute;
         text-align: justify;
         margin: 20px;
         padding: 20px;
         border-radius: 10px;
         opacity: 80%;
         font-family: monospace;
         font-size: 20px;
         color: rgb(197, 197, 197);
       }
     /*won10000*/
       


     /*won50000*/
       .won50000{
         transition: transform 0.3s ease-out;
         position: relative;
        }

      .won50000:hover{
         transform: scale(120%);
        }

      .text_won50000{
         z-index: 999;
         width: 500px;
         background-color: gray;
         display: none;
         position: absolute;
         text-align: justify;
         margin: 20px;
         padding: 20px;
         border-radius: 10px;
         opacity: 80%;
         font-family: monospace;
         font-size: 20px;
         color: rgb(197, 197, 197);
       }
     /*won50000*/


     /*won5000*/
       .won5000{
         transition: transform 0.3s ease-out;
         position: relative;
        }

      .won5000:hover{
         transform: scale(120%);
        }

      .text_won5000{
         z-index: 999;
         width: 500px;
         background-color: gray;
         display: none;
         position: absolute;
         text-align: justify;
         margin: 20px;
         padding: 20px;
         border-radius: 10px;
         opacity: 80%;
         font-family: monospace;
         font-size: 20px;
         color: rgb(197, 197, 197);
       }
     /*won5000*/
   /*WON*/


   /*YEN*/
   #YEN{
      margin-top: 20px;
      margin-bottom: 20px;
      width: auto;
      display: flex;
      flex-direction:row;
      justify-content: space-between;
      align-items: center;
      align-items: flex-start;
     }    
    
       /*yen1000*/
       .yen1000{
         transition: transform 0.3s ease-out;
         position: relative;
        }

      .yen1000:hover{
         transform: scale(120%);
        }

      .text_yen1000{
         z-index: 999;
         width: 500px;
         background-color: gray;
         display: none;
         position: absolute;
         text-align: justify;
         margin: 20px;
         padding: 20px;
         border-radius: 10px;
         opacity: 80%;
         font-family: monospace;
         font-size: 20px;
         color: rgb(197, 197, 197);
       }
     /*yen1000*/

     /*yen10000*/
       .yen10000{
         width: 200%;
         transition: transform 0.3s ease-out;
         position: relative;
        }

      .yen10000:hover{
         transform: scale(120%);
        }

      .text_yen10000{
         z-index: 999;
         width: 500px;
         background-color: gray;
         display: none;
         position: absolute;
         text-align: justify;
         margin: 20px;
         padding: 20px;
         border-radius: 10px;
         opacity: 80%;
         font-family: monospace;
         font-size: 20px;
         color: rgb(197, 197, 197);
       }
     /*yen10000*/
    

     /*yen5000*/
       .yen5000{
         
         transition: transform 0.3s ease-out;
         position: relative;
        }

      .yen5000:hover{
         transform: scale(120%);
        }

      .text_yen5000{
         z-index: 999;
         width: 500px;
         background-color: gray;
         display: none;
         position: absolute;
         text-align: justify;
         margin: 20px;
         padding: 20px;
         border-radius: 10px;
         opacity: 80%;
         font-family: monospace;
         font-size: 20px;
         color: rgb(197, 197, 197);
       }
     /*yen5000*/
   /*YEN*/



   /*YUAN*/
   #YUAN{
      margin-top: 20px;
      margin-bottom: 20px;
      width: auto;
      display: flex;
      flex-direction:row;
      justify-content: space-between;
      align-items: center;
      align-items: flex-start;
     }    

     /*yuan1*/
       .yuan1{
         transition: transform 0.3s ease-out;
         position: relative;
        }

      .yuan1:hover{
         transform: scale(120%);
        }

      .text_yuan1{
         z-index: 999;
         width: 500px;
         background-color: gray;
         display: none;
         position: absolute;
         text-align: justify;
         margin: 20px;
         padding: 20px;
         border-radius: 10px;
         opacity: 80%;
         font-family: monospace;
         font-size: 20px;
         color: rgb(197, 197, 197);
       }
     /*yuan1*/

     /*yuan10*/
       .yuan10{
         transition: transform 0.3s ease-out;
         position: relative;
        }

      .yuan10:hover{
         transform: scale(120%);
        }

      .text_yuan10{
         z-index: 999;
         width: 500px;
         background-color: gray;
         display: none;
         position: absolute;
         text-align: justify;
         margin: 20px;
         padding: 20px;
         border-radius: 10px;
         opacity: 80%;
         font-family: monospace;
         font-size: 20px;
         color: rgb(197, 197, 197);
       }
     /*yuan10*/

     /*yuan100*/
       .yuan100{
         width: 200%;
         transition: transform 0.3s ease-out;
         position: relative;
        }

      .yuan100:hover{
         transform: scale(120%);
        }

      .text_yuan100{
         z-index: 999;
         width: 500px;
         background-color: gray;
         display: none;
         position: absolute;
         text-align: justify;
         margin: 20px;
         padding: 20px;
         border-radius: 10px;
         opacity: 80%;
         font-family: monospace;
         font-size: 20px;
         color: rgb(197, 197, 197);
       }
     /*yuan100*/

     /*yuan20*/
       .yuan20{
         transition: transform 0.3s ease-out;
         position: relative;
        }

      .yuan20:hover{
         transform: scale(120%);
        }

      .text_yuan20{
         z-index: 999;
         width: 500px;
         background-color: gray;
         display: none;
         position: absolute;
         text-align: justify;
         margin: 20px;
         padding: 20px;
         border-radius: 10px;
         opacity: 80%;
         font-family: monospace;
         font-size: 20px;
         color: rgb(197, 197, 197);
       }
     /*yuan20*/


     /*yuan50*/
       .yuan50{
         transition: transform 0.3s ease-out;
         position: relative;
        }

      .yuan50:hover{
         transform: scale(120%);
        }

      .text_yuan50{
         z-index: 999;
         width: 500px;
         background-color: gray;
         display: none;
         position: absolute;
         text-align: justify;
         margin: 20px;
         padding: 20px;
         border-radius: 10px;
         opacity: 80%;
         font-family: monospace;
         font-size: 20px;
         color: rgb(197, 197, 197);
       }
     /*yuan50*/

    /*SHILINGI*/
    #SHILINGI{
      margin-top: 20px;
      margin-bottom: 20px;
      width: auto;
      display: flex;
      flex-direction:row;
      justify-content: space-between;
      align-items: center;
      align-items: flex-start;
     }   

     /*shilingi100*/
       .shilingi100{
         transition: transform 0.3s ease-out;
         position: relative;
        }

      .shilingi100:hover{
         transform: scale(120%);
        }

      .text_shilingi100{
         z-index: 999;
         width: 500px;
         background-color: gray;
         display: none;
         position: absolute;
         text-align: justify;
         margin: 20px;
         padding: 20px;
         border-radius: 10px;
         opacity: 80%;
         font-family: monospace;
         font-size: 20px;
         color: rgb(197, 197, 197);
       }
     /*shilingi100*/

     /*shilingi1000*/
       .shilingi1000{
         transition: transform 0.3s ease-out;
         position: relative;
        }

      .shilingi1000:hover{
         transform: scale(120%);
        }

      .text_shilingi1000{
         z-index: 999;
         width: 500px;
         background-color: gray;
         display: none;
         position: absolute;
         text-align: justify;
         margin: 20px;
         padding: 20px;
         border-radius: 10px;
         opacity: 80%;
         font-family: monospace;
         font-size: 20px;
         color: rgb(197, 197, 197);
       }
     /*shilingi1000*/

     /*shilingi10000*/
       .shilingi10000{
         width: 200%;
         transition: transform 0.3s ease-out;
         position: relative;
        }

      .shilingi10000:hover{
         transform: scale(120%);
        }

      .text_shilingi10000{
         z-index: 999;
         width: 500px;
         background-color: gray;
         display: none;
         position: absolute;
         text-align: justify;
         margin: 20px;
         padding: 20px;
         border-radius: 10px;
         opacity: 80%;
         font-family: monospace;
         font-size: 20px;
         color: rgb(197, 197, 197);
       }
     /*shilingi10000*/

     /*shilingi20*/
       .shilingi20{
         transition: transform 0.3s ease-out;
         position: relative;
        }

      .shilingi20:hover{
         transform: scale(120%);
        }

      .text_shilingi20{
         z-index: 999;
         width: 500px;
         background-color: gray;
         display: none;
         position: absolute;
         text-align: justify;
         margin: 20px;
         padding: 20px;
         border-radius: 10px;
         opacity: 80%;
         font-family: monospace;
         font-size: 20px;
         color: rgb(197, 197, 197);
       }
     /*shilingi20*/

     /*shilingi200*/
       .shilingi200{
         transition: transform 0.3s ease-out;
         position: relative;
        }

      .shilingi200:hover{
         transform: scale(120%);
        }

      .text_shilingi200{
         z-index: 999;
         width: 500px;
         background-color: gray;
         display: none;
         position: absolute;
         text-align: justify;
         margin: 20px;
         padding: 20px;
         border-radius: 10px;
         opacity: 80%;
         font-family: monospace;
         font-size: 20px;
         color: rgb(197, 197, 197);
       }
     /*shilingi200*/

     /*shilingi50*/
       .shilingi50{
         transition: transform 0.3s ease-out;
         position: relative;
        }

      .shilingi50:hover{
         transform: scale(120%);
        }

      .text_shilingi50{
         z-index: 999;
         width: 500px;
         background-color: gray;
         display: none;
         position: absolute;
         text-align: justify;
         margin: 20px;
         padding: 20px;
         border-radius: 10px;
         opacity: 80%;
         font-family: monospace;
         font-size: 20px;
         color: rgb(197, 197, 197);
       }
     /*shilingi50*/

     /*shilingi500*/
     .shilingi500{
      transition: transform 0.3s ease-out;
      position: relative;
     }

   .shilingi500:hover{
      transform: scale(120%);
     }

   .text_shilingi500{
      z-index: 999;
      width: 500px;
      background-color: gray;
      display: none;
      position: absolute;
      text-align: justify;
      margin: 20px;
      padding: 20px;
      border-radius: 10px;
      opacity: 80%;
      font-family: monospace;
      font-size: 20px;
      color: rgb(197, 197, 197);
    }
  /*shilingi500*/

  /*shilingi5000*/
       .shilingi5000{
         transition: transform 0.3s ease-out;
         position: relative;
        }

      .shilingi5000:hover{
         transform: scale(120%);
        }

      .text_shilingi5000{
         z-index: 999;
         width: 500px;
         background-color: gray;
         display: none;
         position: absolute;
         text-align: justify;
         margin: 20px;
         padding: 20px;
         border-radius: 10px;
         opacity: 80%;
         font-family: monospace;
         font-size: 20px;
         color: rgb(197, 197, 197);
       }
     /*shilingi5000*/

/*contents*/


