::-webkit-scrollbar{
    width: 2px;
    height:10px;
    background-color: black;
}

::-webkit-scrollbar-thumb{
    background-color: grey;
    border-radius: 1px;
}

body{
    margin: 10px;
    padding: 10px;
    overflow: scroll;
    height: 100%;
    background-color:black;
}



/*a*/
a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}

/*a*/




/*navigation*/
   .navigation{
       color: white;
       font-family: monospace;
       font-size: 20px;
       display: flex;
    }

    .right_navigation{
       display: flex;
       margin-left: auto;
       margin-right: 0px;
    }

   /*ins*/
    #INS{
       margin-left: 20px;

    }
   /*in*/

/*navigation*/





.images-box{
    display:block;
    width: 100%;
    height: 100%;
    margin-top: 50px;
    position: relative;

}

.pic{
    box-shadow: 0 0 10px grey;
}

