body{
    background-color: black;
    background-image: url(https://github.com/PickleRick-C131/Rick-Sanchez-s-garage/blob/main/assets/for%20project_01/Money.png?raw=true);
    background-size:cover;
}