::-webkit-scrollbar{
    width: 2px;
    height:10px;
    background-color: black;
}

::-webkit-scrollbar-thumb{
    background-color: grey;
    border-radius: 1px;
}

body{
    margin: 10px;
    padding: 10px;
    overflow: scroll;
    height: 100%;
    background-color:black;
}

#images{
    width: auto;
    height:auto;
}
.title{
    color: white;
    font-size: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 10px;
    padding: 10px;
    font-family: monospace;
}
/*initial page*/

/*a*/
a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}

a:hover{
    font-size: 30px;
}
/*a*/




/*navigation*/
   .navigation{
       color: white;
       font-family: monospace;
       font-size: 20px;
       display: flex;
    }

    .right_navigation{
       display: flex;
       margin-left: auto;
       margin-right: 0px;
    }

   /*ins*/
    #INS{
       margin-left: 20px;

    }
    #INS:hover{
       font-size: 30px;
    }
   /*in*/



   /*NPaper Money*/
   #NPaper_Money{
       margin-left: 20px;
       margin-right: 20px;
   }
   #NPaper_Money:hover{
       font-size: 30px;
   }
   /*Paper Money*/


   /*Coins*/
   #NCoins{
       margin-left: 20px;
       margin-right: 20px;
   }

   #NCoins:hover{
       font-size: 30px;
   }

/*navigation*/


/*contents*/
   .contents{
       
       width: 100%;
       height: auto;
    }

   #Paper_Money{
       width: 100%;
       height: 100%;
       margin-top: 100px;
       display:flex;
       flex-direction: column;
    }

   /*USD*/
      #USD{
          width: auto;
          display: flex;
          flex-direction:row;
          justify-content: space-between;
          align-items: center;
          align-items: flex-start;
        }

      .with_text{
          display: flex;
          flex-direction: column;
          margin-left: 5px;
          width: 15%;
          background-color: black;
       }

            #the_USD{
                width: 100%;
                box-shadow: 5px 5px 10px rgb(145, 145, 145);
            }
            .the_USD:hover{
                scale: 120%;
            }
            .text{
                text-align: justify;
                margin-top: 20px;
                font-family: monospace;
                font-size: 12px;
                color: rgb(197, 197, 197);
            }

    
    /*RMB*/    
/*contents*/



.images{
    position: relative;
    width: auto;
    height: auto;
}