::-webkit-scrollbar{
    width: 2px;
    height:10px;
    background-color: black;
}

::-webkit-scrollbar-thumb{
    background-color: grey;
    border-radius: 1px;
}
body{
    margin: 10px;
    padding: 10px;
    overflow: scroll;
    height: 100%;
    background-color:black;
    display: block;
}




/*a*/
a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: monospace;
}

/*a*/




/*navigation*/
   .navigation{
       display: flex;
       width: 100%;
       height: fit-content;
    }

    .left_navigation{
        margin-left: 0px;
        margin-right: auto;
        
    }

    .right_navigation{
       display: flex;
       margin-left: auto;
       margin-right: 0px;
    }

   /*ins*/
    #INS{
       margin-left: 20px;
    }
   /*in*/
/*navigation*/


/*contents*/
   .contents{
       display: block;
       width: 100%;
       height: auto;
    }




   #Paper_Money{
       width: 100%;
       height: 100%;
       margin-top: 100px;
       display:flex;
       flex-direction: column;
    }

   /*USD*/
      #USD{
          width: auto;
          display: flex;
          flex-direction:row;
          justify-content: space-between;
          align-items: center;
          align-items: flex-start;
        }

      .with_text{
          display: block;
          flex-direction: column;
          margin-left: 5px;
          width: 15%;
          background-color: black;
       }


            
           /*USD100*/
            .USD100{
                position: relative;
            }

            .USD100:hover{
                transform: scale(120%);;
            }

            .text_USD100{
                z-index: 999;
                width: 500px;
                background-color: gray;
                display: none;
                position: absolute;
                text-align: justify;
                margin: 20px;
                padding: 20px;
                border-radius: 10px;
                opacity: 80%;
                font-family: monospace;
                font-size: 20px;
                color: rgb(197, 197, 197);
            }
            /*USD100*/
             
            /*USD50*/
            .USD50{
                width: 500px;
                position: relative;
            }

            .USD50:hover{
                transform: scale(120%);
            }

            .text_USD50{
                z-index: 999;
                width: 500px;
                background-color: gray;
                display: none;
                position: absolute;
                text-align: justify;
                margin: 20px;
                padding: 20px;
                border-radius: 10px;
                opacity: 80%;
                font-family: monospace;
                font-size: 20px;
                color: rgb(197, 197, 197);
            }
            /*USD50*/


            /*USD20*/
            .USD20{
                position: relative;
            }

            .USD20:hover{
                transform: scale(120%);
            }

            .text_USD20{
                z-index: 999;
                width: 500px;
                background-color: gray;
                display: none;
                position: absolute;
                text-align: justify;
                margin: 20px;
                padding: 20px;
                border-radius: 10px;
                opacity: 80%;
                font-family: monospace;
                font-size: 20px;
                color: rgb(197, 197, 197);
            }
            /*USD20*/


            /*USD10*/
            .USD10{
                position: relative;
            }

            .USD10:hover{
                transform: scale(120%);
            }

            .text_USD10{
                z-index: 999;
                width: 500px;
                background-color: gray;
                display: none;
                position: absolute;
                text-align: justify;
                margin: 20px;
                padding: 20px;
                border-radius: 10px;
                opacity: 80%;
                font-family: monospace;
                font-size: 20px;
                color: rgb(197, 197, 197);
            }
            /*USD10*/


            /*USD5*/
            .USD5{
                position: relative;
            }

            .USD5:hover{
                transform: scale(120%);
            }

            .text_USD5{
                z-index: 999;
                width: 500px;
                background-color: gray;
                display: none;
                position: absolute;
                text-align: justify;
                margin: 20px;
                padding: 20px;
                border-radius: 10px;
                opacity: 80%;
                font-family: monospace;
                font-size: 20px;
                color: rgb(197, 197, 197);
            }
            /*USD5*/


    


    /*LIRA*/
    #LIRA{
        margin-top: 50px;
        width: auto;
        display: flex;
        flex-direction:row;
        justify-content: space-between;
        align-items: center;
        align-items: flex-start;
    }
   
    



/*contents*/


