

body{
    display: block;
    height:1000px;
}

.container{
    display: flex;
    margin: 20px;
    padding: 20px;
    
}

.introduction{
    font-family: monospace;
    margin: 20px;
    padding: 20px;
    width: 200px;
    
}

.h2 { 
    font-family: monospace;
    color: rgb(33, 33, 33);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;}




.headshot{
    margin: 10px;
    padding: 10px;
    max-width: 600px;
    max-height: 600px;
    box-shadow:  2px 2px 20px gray;
    border-radius: 20px;
    
}

.Exercises{
    background-color: rgb(245, 245, 245);
    box-shadow: inset 2px 2px 40px gray;
    font-family: monospace;
    width: 50%;
    height: 600px;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
}

.Projects{
    background-color: rgb(245, 245, 245);
    box-shadow: inset 2px 2px 40px gray;
    font-family: monospace;
    width: 50%;
    height: 600px;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
}

a{
    text-decoration: none;
    color: black;
    letter-spacing: 3px;
    font-size: 15px;
}

.rick_gif{
    position:fixed ;
    right: 2%;
    top:700px
}

.summer_gif{
    position:fixed ;
    right: 60%;
    top:700px
}

.morty_gif{
    position:fixed ;
    right: 30%;
    top:700px
}